body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
}

/* Animation */

.ani-container {
    background: #04756a;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    animation: anime 3s cubic-bezier(0, 0, 0.55, -0.79) 1s infinite alternate;
    /* animation-fill-mode: forwards; */
}


@keyframes anime {
    0% {
        width: 60px;
        height: 60px;
    }

    25% {
        width: 60px;
        height: 60px;
    }

    50% {
        width: 60px;
        height: 240px;
    }

    100% {
        width: 480px;
        height: 240px;
    }
}

/* -------------- */

.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
    background: #232323;
    color: #cdcdcd;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.menu-container a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

.menu-container a:hover {
    color: #00C6A7;
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -1px);
    background: #232323;
}

.menu-container input:checked~span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked~span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
    list-style: none;
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .menu {
        position: absolute;
        box-sizing: border-box;
        width: 300px;
        right: -300px;
        top: 0;
        margin: -20px;
        padding: 75px 50px 50px;
        background: #cdcdcd;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .menu-container input:checked~.menu {
        transform: translateX(-100%);
    }
}

/* desktop styles */
@media only screen and (min-width: 768px) {
    .menu-container {
        width: 100%;
    }

    .menu-container a {
        color: #cdcdcd;
    }

    .menu-container input {
        display: none;
    }

    /* Burger menu */
    .menu-container span {
        display: none;
    }

    .menu {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
        padding: 0;
    }

    .menu li {
        padding: 0 20px;
    }
}

.insert-div {
    margin: 0;
    padding: 2vh;
    font-size: 3vh;
    color: #000000;
    background: #04d76d;
    display: flex;
    justify-content: center;
}

.welcome-div {
    margin: 0;
    padding: 8vh;
    font-size: 6vh;
    background: #0ce1e5;
    display: flex;
    justify-content: center;
}

.footer-div {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    padding: 30px;
    background: #232323;
    color: #cdcdcd;
}

.body-container {
    background: linear-gradient(0deg, #2fe6e0, #340c4f);
    margin: auto;
}

.table-container {
    display: flex;
    justify-content: center;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.042);
    color: #ffffff;
}

th {
    text-align: left;
}


thead th {
    background-color: #3659f1;
}

.backer {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 2vh;
    font-size: 3.5vh;
    background-color: #0c92e5;
    margin: 0;
    color: #001250;

}

.insertion-container {
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.err {
    background: #e50c17;
}

.table-heading {
    margin: 0;
    padding: auto;

}

.box {
    display: flex;
    flex-direction: row;
}

.change-container {
    display: flex;
    justify-content: space-evenly;
    padding: 1vw;
    margin: 0px 35vh;
}

.change-container a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 1vh 1vw;
    color: #fff;
    font-size: 3vh;
    border: 2px white solid;
}

.img-container {
    display: flex;
    justify-content: center;
    padding: 4vw;
}

.img-container img {
    border: 2px black solid;
    box-shadow: 4px 4px;
    width: 100vw;
    height: 80vh;
}