{% extends 'base.html' %} {% block head %}
<title>EditDistrict | Labour Management System</title>
{% endblock %} {% block body %}

<!-- Welcome Message -->
<div>
  <p class="welcome-div">
    <img src="https://see.fontimg.com/api/renderfont4/lgedV/eyJyIjoiZnMiLCJoIjo4MSwidyI6MTI1MCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/RGlzdHJpY3QgUGFnZQ/inborn-personal-use-regular.png" alt="district">
  </p>
  <a href="showDistrict" class="backer"> Show District Database</a>
  <div class="body-container">
    <p class="insert-div">Edit Record in Database</p>
    <div class="table-container" style="padding: 4vh">
      <form action="" class="form" method="POST">
        {% csrf_token %}
        <table class="">
          <tr>
            <td>Dist ID:</td>
            <td>
              <input
                type="number"
                id="dist_id"
                name="dist_id"
                placeholder="Enter District ID"
              />
            </td>
          </tr>
          <tr>
            <td>Dist Name:</td>
            <td>
              <input
                type="text"
                id="dist_name"
                name="dist_name"
                placeholder="Enter District Name"
              />
            </td>
          </tr>
          <tr>
            <td>Dist Code:</td>
            <td>
              <input
                type="number"
                id="dist_code"
                name="dist_code"
                placeholder="District Code"
              />
            </td>
          </tr>
          <tr>
            <td><input type="submit" id="submit" name="submit" class="" /></td>
            <td><input type="reset" id="reset" name="reset" class="" /></td>
          </tr>
        </table>
      </form>
    </div>
    {% if status %} {% if success %}
    <p class="insert-div">{{msg}}</p>
    {% else %}
    <p class="insert-div" style="background-color: #e50c8e">{{msg}}</p>
    {% endif%} {% endif%}
  </div>
</div>

{% endblock %}
