{% extends 'base.html' %} {% block head %}
<title>EditPerson | Labour Management System</title>
{% endblock %} {% block body %}

<!-- Welcome Message -->
<div>
  <p class="welcome-div">
    <img src="https://see.fontimg.com/api/renderfont4/lgedV/eyJyIjoiZnMiLCJoIjo4MSwidyI6MTI1MCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/UGVyc29uIFBhZ2U/inborn-personal-use-regular.png" alt="person">
  </p>
  <a href="showPerson" class="backer"> Show Person Database</a>
  <div class="body-container">
    <p class="insert-div">Edit Record in Database</p>
    <div class="table-container" style="padding: 4vh">
      <form action="" class="form" method="POST">
        {% csrf_token %}
        <table class="">
          <tr>
            <td>Person ID:</td>
            <td>
              <input
                type="number"
                id="person_id"
                name="person_id"
                placeholder="Enter Person ID"
              />
            </td>
          </tr>
          <tr>
            <td>First Name:</td>
            <td>
              <input
                type="text"
                id="first_name"
                name="first_name"
                placeholder="Enter First Name"
              />
            </td>
          </tr>
          <tr>
            <td>Middle Name:</td>
            <td>
              <input
                type="text"
                id="middle_name"
                name="middle_name"
                placeholder="Enter Middle Name"
              />
            </td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td>
              <input
                type="text"
                id="last_name"
                name="last_name"
                placeholder="Enter Last Name"
              />
            </td>
          </tr>
          <tr>
            <td>Dist ID:</td>
            <td>
              <input
                type="number"
                id="dist_id"
                name="dist_id"
                placeholder="Enter District ID"
              />
            </td>
          </tr>
          <tr>
            <td>Birth Date:</td>
            <td>
              <input
                type="date"
                id="birth_date"
                name="birth_date"
                placeholder="Select Birth Date"
              />
            </td>
          </tr>
          <tr>
            <td>Bank Name:</td>
            <td>
              <input
                type="text"
                id="bank_name"
                name="bank_name"
                placeholder="Enter Bank Name"
              />
            </td>
          </tr>
          <tr>
            <td>Bank Head Branch:</td>
            <td>
              <input
                type="text"
                id="bank_head_branch"
                name="bank_head_branch"
                placeholder="Enter Bank Head Branch"
              />
            </td>
          </tr>
          <tr>
            <td>Account Number:</td>
            <td>
              <input
                type="text"
                id="account_number"
                name="account_number"
                placeholder="Enter Account Number"
              />
            </td>
          </tr>
          <tr>
            <td>Account Holder Name:</td>
            <td>
              <input
                type="text"
                id="Account_holder_name"
                name="Account_holder_name"
                placeholder="Enter Account Holder Name"
              />
            </td>
          </tr>
          <tr>
            <td><input type="submit" id="submit" name="submit" class="" /></td>
            <td><input type="reset" id="reset" name="reset" class="" /></td>
          </tr>
        </table>
      </form>
    </div>
    {% if status %} {% if success %}
    <p class="insert-div">{{msg}}</p>
    {% else %}
    <p class="insert-div" style="background-color: #e50c8e">{{msg}}</p>
    {% endif%} {% endif%}
  </div>
</div>

{% endblock %}
