{% extends 'base.html' %} {% block head %}
<title>Home | Labour Management System</title>
{% endblock %} {% block body %}

<!-- Welcome Message -->
<div>
  <p class="welcome-div">
    <img
      src="https://see.fontimg.com/api/renderfont4/dylK/eyJyIjoiZnMiLCJoIjo4MSwidyI6MTI1MCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/TGFib3VyIE1hbmFnZW1lbnQgU3lzdGVt/blessed-day.png"
      alt="tag"
    />
  </p>
  <div class="ani-container">
    <div class="box"></div>
  </div>
</div>

{% endblock %}
