{% extends 'base.html' %} {% block head %}
<title>Supervisor | Labour Management System</title>
{% endblock %} {% block body %}

<!-- Welcome Message -->
<div>
  <p class="welcome-div">
    <img src="https://see.fontimg.com/api/renderfont4/lgedV/eyJyIjoiZnMiLCJoIjo4MSwidyI6MTI1MCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/U3VwZXJ2aXNvciBQYWdl/inborn-personal-use-regular.png" alt="supervisor">
  </p>
  <a href="showSupervisor" class="backer"> Show Supervisor Database</a>
  <div class="body-container">
    <p class="insert-div">Insert Record in Database</p>
    <div class="table-container" style="padding: 4vh">
      <form action="" class="form" method="POST">
        {% csrf_token %}
        <table class="">
          <tr>
            <td>Sup ID:</td>
            <td>
              <input
                type="number"
                id="sup_id"
                name="sup_id"
                placeholder="Enter Supervisor ID"
              />
            </td>
          </tr>
          <tr>
            <td>Person ID:</td>
            <td>
              <input
                type="number"
                id="person_id"
                name="person_id"
                placeholder="Enter Person ID"
              />
            </td>
          </tr>
          <tr>
            <td>Salary:</td>
            <td>
              <input
                type="number"
                id="salary"
                name="salary"
                placeholder="Enter Salary"
              />
            </td>
          </tr>
          <tr>
            <td><input type="submit" id="submit" name="submit" class="" /></td>
            <td><input type="reset" id="reset" name="reset" class="" /></td>
          </tr>
        </table>
      </form>
    </div>
    {% if status %} {% if success %}
    <p class="insert-div">{{msg}}</p>
    {% else %}
    <p class="insert-div" style="background-color: #e50c8e">{{msg}}</p>
    {% endif%} {% endif%}
  </div>
</div>
{% endblock %}
